body {
  font-family: "Cabin", serif; }

.fa.fa-fire {
  color: #d46401; }

.fa {
  color: #6a0320; }

.row {
  padding: 10px; }

.container-background {
  height: 3rem;
  margin-bottom: 0.5rem;
  background-color: #6a0320;
  border-radius: 0.25rem; }

.modal-body {
  padding: 30px; }

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 100px; }

.navbar {
  background-color: #4b4b4b;
  font-size: 20px;
  border-bottom: 10px solid #800022; }

.navbar-brand {
  font-family: "Audiowide";
  color: #8d8d8d;
  -webkit-text-stroke: 1px #8d8d8d;
  font-size: 28px; }

.navbar-brand:hover {
  font-family: "Audiowide";
  color: #8d8d8d;
  -webkit-text-stroke: 1px #8d8d8d;
  font-size: 28px;
  text-decoration: none; }

.logo {
  font-family: "Audiowide";
  color: #6a0320;
  font-size: 96px; }

.logo-small {
  font-family: "Cabin";
  color: #6a0320;
  font-size: 18px; }

.logo-small:hover {
  font-family: "Cabin";
  color: #6a0320;
  font-size: 18px;
  text-decoration: none; }

.logo-medium {
  font-family: "Audiowide";
  color: #6a0320;
  font-size: 54px; }

.logo-medium:hover {
  font-family: "Audiowide";
  color: #6a0320;
  font-size: 54px;
  text-decoration: none; }

.logo:hover {
  font-family: "Audiowide";
  color: #6a0320;
  font-size: 96px;
  text-decoration: none; }

.logo-text {
  font-family: "Permanent Marker";
  color: #6a0320;
  font-size: 48px; }

.logo-text:hover {
  font-family: "Permanent Marker";
  color: #6a0320;
  font-size: 48px;
  text-decoration: none; }

.search-click {
  border: 1px solid #ccc;
  outline: none;
  background-size: 22px;
  background-position: 13px;
  border-radius: 10px;
  width: 250px;
  height: 50px;
  padding: 25px;
  transition: all 0.5s;
  position: relative;
  overflow: hidden; }

.search-click:focus {
  width: 500px;
  padding-left: 50px; }

.search-click input {
  background: transparent;
  border: 1px solid #ccc;
  outline: none;
  position: absolute;
  width: 200px;
  height: 50px;
  left: 0%;
  padding: 10px; }

.search-click-small {
  border: 1px solid #ccc;
  outline: none;
  background-size: 22px;
  background-position: 13px;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  padding: 25px;
  transition: all 0.5s;
  position: relative;
  overflow: hidden; }

#submitBtn:hover .fa {
  color: #fff; }

.navactive {
  display: inline-block;
  border-bottom: 3px solid white;
  padding-top: 1 px; }

.navactive-small {
  display: inline-block;
  border-bottom: 5px solid white;
  padding-top: 2 px;
  width: 60px; }

.footer ul > li {
  display: inline-block;
  zoom: 1;
  color: #6a0320; }

.footer ul > li :hover {
  text-decoration: none; }

.underclass {
  border-bottom: 5px solid #6a0320; }

.tab-content {
  border: 3px solid #6a0320; }

.pillcard {
  border-bottom: 3px solid #6a0320; }

.map-container-2 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }

.map-container-2 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

.nav-pills .nav-link.active {
  background-color: #6a0320; }

.filterbutton {
  background-color: #6a0320; }

.list-group-item {
  padding: 5px 10px; }

.footer li {
  padding-right: 10px; }
